{:highlights [{:id #uuid "68931f54-6d44-4594-b9a9-1a1720ee1e2f",
               :page 1,
               :position {:bounding {:x1 837.2083740234375,
                                     :y1 356.7708435058594,
                                     :x2 908.7000732421875,
                                     :y2 372.7708435058594,
                                     :width 1075,
                                     :height 760.1303928458575},
                          :rects ({:x1 837.2083740234375,
                                   :y1 356.7708435058594,
                                   :x2 908.7000732421875,
                                   :y2 372.7708435058594,
                                   :width 1075,
                                   :height 760.1303928458575}),
                          :page 1},
               :content {:text "Wild Weasel"},
               :properties {:color "purple"}}],
 :extra {:page 1}}
