{:highlights [{:id #uuid "68931770-b3ab-4204-9d62-bf68c4d73a1c",
               :page 1,
               :position {:bounding {:x1 447,
                                     :y1 212,
                                     :x2 756,
                                     :y2 414,
                                     :width 1058.9999999999998,
                                     :height 748.8168472063854},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1754470254149},
               :properties {:color "red"}}
              {:id #uuid "6893186f-6946-4f7f-9db5-5536f6b6d758",
               :page 4,
               :position {:bounding {:x1 705.7108154296875,
                                     :y1 245.36459350585938,
                                     :x2 809.6173095703125,
                                     :y2 259.3645935058594,
                                     :width 1058.9999999999998,
                                     :height 748.8168472063854},
                          :rects ({:x1 705.7108154296875,
                                   :y1 245.36459350585938,
                                   :x2 809.6173095703125,
                                   :y2 259.3645935058594,
                                   :width 1058.9999999999998,
                                   :height 748.8168472063854}),
                          :page 4},
               :content {:text "Localisation des Sams. "},
               :properties {:color "red"}}
              {:id #uuid "6893191e-8145-4e2c-9b67-47ca003216f0",
               :page 3,
               :position {:bounding {:x1 359.6985778808594,
                                     :y1 413.35418701171875,
                                     :x2 417.40673828125,
                                     :y2 422.6875,
                                     :width 1058.9999999999998,
                                     :height 748.8168472063854},
                          :rects ({:x1 359.6985778808594,
                                   :y1 413.35418701171875,
                                   :x2 417.40673828125,
                                   :y2 422.6875,
                                   :width 1058.9999999999998,
                                   :height 748.8168472063854}),
                          :page 3},
               :content {:text " 12 duels possibles"},
               :properties {:color "red"}}
              {:id #uuid "68931b33-291f-4f72-88c0-7c0bbf35f824",
               :page 3,
               :position {:bounding {:x1 422.1145935058594,
                                     :y1 65.2603759765625,
                                     :x2 493.77197265625,
                                     :y2 76.59375,
                                     :width 1058.9999999999998,
                                     :height 748.8168472063854},
                          :rects ({:x1 422.1145935058594,
                                   :y1 65.2603759765625,
                                   :x2 493.77197265625,
                                   :y2 76.59375,
                                   :width 1058.9999999999998,
                                   :height 748.8168472063854}),
                          :page 3},
               :content {:text "AGM-88A HARM"},
               :properties {:color "blue"}}
              {:id #uuid "689321b8-36ca-41ca-af49-05fa23725e77",
               :page 4,
               :position {:bounding {:x1 364.91363525390625,
                                     :y1 188.82293701171875,
                                     :x2 405.68072509765625,
                                     :y2 202.82293701171875,
                                     :width 1058.9999999999998,
                                     :height 748.8168472063854},
                          :rects ({:x1 364.91363525390625,
                                   :y1 188.82293701171875,
                                   :x2 405.68072509765625,
                                   :y2 202.82293701171875,
                                   :width 1058.9999999999998,
                                   :height 748.8168472063854}),
                          :page 4},
               :content {:text " AGM-88"},
               :properties {:color "purple"}}
              {:id #uuid "68935a49-392a-495c-9add-fcef538642e4",
               :page 3,
               :position {:bounding {:x1 523.6666870117188,
                                     :y1 47.9375,
                                     :x2 821.5458984375,
                                     :y2 69.27084350585938,
                                     :width 1908.3519999999999,
                                     :height 1349.392},
                          :rects ({:x1 523.6666870117188,
                                   :y1 47.9375,
                                   :x2 821.5458984375,
                                   :y2 69.27084350585938,
                                   :width 1908.3519999999999,
                                   :height 1349.392}),
                          :page 3},
               :content {:text "Ce duel entre le Slava et un groupe de A-7E"},
               :properties {:color "red"}}
              {:id #uuid "68935d1f-de58-40b8-9804-c9d5b40c9bb5",
               :page 3,
               :position {:bounding {:x1 580.0833320617676,
                                     :y1 280.9271240234375,
                                     :x2 631.5294380187988,
                                     :y2 292.9271240234375,
                                     :width 1403.1999999999998,
                                     :height 992.2},
                          :rects ({:x1 580.0833320617676,
                                   :y1 280.9271240234375,
                                   :x2 631.5294380187988,
                                   :y2 292.9271240234375,
                                   :width 1403.1999999999998,
                                   :height 992.2}),
                          :page 3},
               :content {:text "A-7E Corsair"},
               :properties {:color "red"}}
              {:id #uuid "68935e64-9a96-4a20-970f-e8bf57ef1db3",
               :page 3,
               :position {:bounding {:x1 691.1719551086426,
                                     :y1 280.54168701171875,
                                     :x2 713.6653022766113,
                                     :y2 292.54168701171875,
                                     :width 1403.1999999999998,
                                     :height 992.2},
                          :rects ({:x1 691.1719551086426,
                                   :y1 280.54168701171875,
                                   :x2 713.6653022766113,
                                   :y2 292.54168701171875,
                                   :width 1403.1999999999998,
                                   :height 992.2}),
                          :page 3},
               :content {:text "Slava"},
               :properties {:color "blue"}}],
 :extra {:page 2}}
